{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="center">
                <h5>Mon profil patient</h5>
            </div>
            <div class="box img-circle bg-change">
                <div class="container">
                    <table class="striped table-top">
                        {% if profile != null %}
                            {% for profile in profile %}
                                <tr>
                                    <td>Nom :</td>
                                    <td>
                                        {{ profile.civility }}
                                        {% if profile.birthname != null %}
                                            {{ profile.birthname }}
                                        {% else %}
                                            {{ profile.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Prénom :</td>
                                    <td>{{ profile.firstname }}</td>
                                </tr>
                                <tr>
                                    <td>Né(e) le :</td>
                                    <td>{{ profile.birthdate }}</td>
                                </tr>
                                <tr>
                                    <td>Tèl fix :</td>
                                    <td>{{ profile.phone1 }}</td>
                                </tr>
                                <tr>
                                    <td>Mobile :</td>
                                    <td>{{ profile.phone2 }}</td>
                                </tr>
                            {% endfor %}
                    </table>
                        {% else %}
                            <table>
                                <tr>
                                    <td>
                                        <a class="waves-effect waves-light btn" href="{{ path('complement_new') }}">Ajouter un profile</a>
                                    </td>
                                </tr>
                            </table>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="center">
                <h5>Mes rendez-vous</h5>
            </div>
            <div class="box-invert box bg-change">
                <div class="container table-top-marge">
                    <table class="striped">
                        <tr>
                            <td>
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Trouver un médecin</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
{#            <form method="post" name="search" action="{{ path('') }}" >#}
            <form method="post" name="search" action="">
                <div class="container">
                    <label for="" title="Localité">Localité</label>
                    <input type="text" name="profession" value="" placeholder="ou ?">
                    <label for="" title="Profession">Profession</label>
                    <input type="text" name="Localisation" value="Médecin généraliste" placeholder="Profession ?">
                </div>
        </div>
        <div class="modal-footer">
            <div class="center">
                <button class="align-center btn"
                        type="submit"
                        id="_submit"
                        name="_submit"
                        value="trouver"
                        data-position="bottom"
                        data-delay="50"
                        data-tooltip="Enregistrer">
                    <i class="material-icons">Trouver</i>
                </button>
            </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}
